<p id="notice"><%= notice %></p>


<h1 class="generic--title">Categories</h1>
<div class="generic--search"> <input type="text"></div>

<div class="generic--grid">
  <% @technology.categories.each do |category| %>
  <p>Technology: <%=category.technology.name%> </p>

    <%= render category %>
  <% end %>
</div>

<%= link_to 'New Category', new_category_path %>
